<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlackJack</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/index.css">

    <!-- Bootstrap JS -->
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="button-container">
        <button class="btn btn-primary" id="stand"> STAND </button>
        <button class="btn btn-primary" id="hit"> HIT </button>
    </div>
    <div class="card">
        <h3 class="dealersHand">Dealers Hand</h3>
        <h3 class="playersHand">Players Hand</h3>
        <h1 class="super-large" id="dealer">0</h1>
        <h1 class="super-large" id="player">0</h1>
        <h3 class="win-percentage">Win Percentage: <span id="win-percentage">Loading...</span></h3>
    </div>
    <div class="outcome">
        <div class="youwin" id="youwin">
            YOU WIN!
        </div>
        <div class="youlose" id="youlose">
            YOU LOSE!
        </div>  
    </div>

    <!-- JavaScript -->
    <script src="index.js"></script>
</body>
</html>
