<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlackJack</title>

    <link rel="icon" type="image/x-icon" href="faviconP.png">

    <!-- Add Bootstrap CSS from CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/index.css">

    <!-- Bootstrap JS -->
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="button-container">
        <button class="btn btn-primary" id="stand"> STAND </button>
        <button class="btn btn-primary" id="hit"> HIT </button>
    </div>
    <button type="button" class="btn btn-light" id="AGAIN"> AGAIN </button>
    <div class="card">
        <div class="details">

            <br>
            <br>
            <br>

            <div class="win-percentage" id="win-percentage">
                <h3 class="win-percentage-label" id="win-percentage-label"> Win Percentage: </h3> 
                <h3 class="win-percentage-num" id="win-percentage-num"> [WP] </h3>
            </div>    
            
            <div class="total-games" id="total-games">
                <h3 class="total-games-label" id="total-games-label"> Total Games Played: </h3> 
                <h3 class="total-games-num" id="total-games-num"> [GP] </h3>
            </div>    

            <br>

            <button class="btn btn-secondary" id="reset-stats-btn"> Reset Stats </button>
        </div>  
    </div>
    <div class="totals">
        <h3 id="dealersHandTotal"> 0 </h3>
        <h3 id="playersHandTotal"> 0 </h3>
    </div>
    <div class="outcome">
        <div class="youwin" id="youwin">
            YOU WIN!
        </div>
        <div class="youlose" id="youlose">
            YOU LOSE!
        </div>  
        <div class="youwin" id="youwin">
            YOU WIN!
        </div>
        <div class="draw" id="draw">
            DRAW!
        </div>  
        <div class="charlieWin" id="charlieWin">
            CHARLIE RULE WIN!
        </div>  
    </div>
    <img src="/blackjack-cheat-sheet.png" class="img-rounded" id="cheat-sheet-pic">
    <button class="btn btn-secondary" id="cheat-sheet-button"> Toggle Cheat-Sheet </button>
    <div class="container-player">
        <img src="/PNG-cards-1.3/red_joker.png" id="card-1-pic">
        <img src="/PNG-cards-1.3/red_joker.png" id="card-2-pic">
        <img src="/PNG-cards-1.3/red_joker.png" id="card-3-pic">
        <img src="/PNG-cards-1.3/red_joker.png" id="card-4-pic">
        <img src="/PNG-cards-1.3/red_joker.png" id="card-5-pic">
    </div>
    <div class="container-dealer">
        <img src="/PNG-cards-1.3/red_joker.png" id="dealer-card-1-pic">
        <img src="/PNG-cards-1.3/red_joker.png" id="dealer-card-2-pic">
        <img src="/PNG-cards-1.3/red_joker.png" id="dealer-card-3-pic">
        <img src="/PNG-cards-1.3/red_joker.png" id="dealer-card-4-pic">
        <img src="/PNG-cards-1.3/red_joker.png" id="dealer-card-5-pic">
    </div>

    

    <!-- JavaScript -->
    <script src="/index.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
