body {
    /* ../ means you go up one directory */
    background-image: url('/poker-table-background.avif');
}

.button-container {
    position: fixed;
    bottom: 20px;
    text-align: center;
    left: 50%; /* Centers horizontally */
    transform: translateX(-50%); /* Adjusts for container width */
    display: flex; /* allows the buttons to narrow together by changing in size when close */
    gap: 20px;
}

.button-container button {
    width: 200px;
    height: 200px;
    font-size: 3rem;
}


.card {
    text-align: center;
    background-color: transparent !important; /* important overrides bootstrap's default */
    border: none !important;
    color: white !important;
}

.dealersHand {
    margin: 10px;
    color: lightyellow;
}

.playersHand {
    position: fixed;
    margin: 0px;
    bottom: 25%;
    text-align: center;
    transform: translateX(-50%); /* Adjusts for container width */
    left: 50%; /* Centers horizontally */
    color: lightblue;
}

.super-large {
    font-size: 8rem;
}

.details {
    margin: 10px;
    color: lightpink;
    position: fixed;
    transform: translateX(-50%);
    left: 8%; /* Positions it near the left side */
    top: 10%; /* Adjusted to provide vertical space */
}

.win-percentage {
    position: relative; /* Positioned relative to `.details` */
    margin-bottom: 20px; /* Adds spacing between win percentage and username */
    text-align: center;
}

.win-percentage-label {
    margin: 0;
}

.win-percentage-num {
    color: orangered;
}

.username {
    position: relative; /* Positioned relative to `.details` */
    text-align: center; /* Ensures centered text */
    margin-top: 20px; /* Adds spacing above username */
}

#player {
    position: fixed;
    top: 55%; /* Adjust this value to move the "9" lower */
    transform: translateX(-50%); /* Adjusts for container width */
    left: 50%; /* Centers horizontally */
}

.outcome {
    position: fixed;
    top: 30%; /* Adjust this value to move the "9" lower */
    transform: translateX(-50%); /* Adjusts for container width */
    left: 50%; /* Centers horizontally */
    font-size: 8rem;
}

.youwin {
    color: yellowgreen;
    display: none;
}

.youlose {
    color: red;
    display: none;
}

.img-rounded {
    position: fixed;
    top: 20%;
    right: 1%;
    width: 100%;
    max-width: 30%;
    height: auto;
    display: none;
}

#cheat-sheet-button {
    position: fixed; /* Position relative to the viewport */
    top: 17%;    /* Offset from the bottom */
    right: 11%;     /* Offset from the right */
    width: 300px;    /* Button width */
    height: 50px;    /* Button height */
    font-size: 1.5rem; /* Button text size */
}
